{% extends "base.html" %}

{% block content %}
<div class="overflow-x-auto self-start mt-8 bg-base-100 rounded-2xl w-full max-w-screen-lg mx-auto">
  <div class="text-xs py-2 px-4 font-semibold capitalize text-gray-800 flex gap-2">
    <p class="bg-info px-2 py-1 rounded">total mirrors: {{ total }}</p>
    <p class="bg-info px-2 py-1 rounded">inactive: {{ inactive }}</p>
  </div>
  <h1 class="w-full text-center py-4 text-xl font-semibold">Public Mirrors</h1>
  <table class="table table-zebra w-full">
    <thead>
      <tr>
        <th>Mirror</th>
        <th>Country</th>
        <th>Last Sync</th>
        <th>Protocols</th>
        <th>Missing</th>
        <th>Access Time</th>
      </tr>
    </thead>
    <tbody>
      {% for mirror in mirrors %}
      {% if mirror.active %}
      <tr>
        <td>{{ mirror.address }}</td>
        <td class="capitalize">{{ mirror.country }}</td>
        <td>
          {% if mirror.last_sync %}
          {{ mirror.last_sync }}
          {% else %}
          In queue
          {% endif %}
          {% if not mirror.stable_is_sync or not mirror.testing_is_sync or not mirror.testing_is_sync %}
          <svg class="float-right text-orange-300"  xmlns="http://www.w3.org/2000/svg" height="22" viewBox="0 -960 960 960" width="22"><path fill="currentColor" d="m40-120 440-760 440 760H40Zm104-60h672L480-760 144-180Zm340.175-57q12.825 0 21.325-8.675 8.5-8.676 8.5-21.5 0-12.825-8.675-21.325-8.676-8.5-21.5-8.5-12.825 0-21.325 8.675-8.5 8.676-8.5 21.5 0 12.825 8.675 21.325 8.676 8.5 21.5 8.5ZM454-348h60v-224h-60v224Zm26-122Z"/></svg>
          {% endif %}
        </td>
        <td>
          {% if mirror.http %}
          <a  target="blank" href="http://{{ mirror.address }}" class="underline">http</a>
          {% endif %}
          {% if mirror.https %}
          <a  target="blank" href="https://{{ mirror.address }}" class="underline">https</a>
          {% endif %}
        </td>
        <td>
          {% if not mirror.stable_hash %}
          <span class="capitalize px-1 bg-red-800 rounded-full shadow font-bold">s</span>
          {% endif %}
          {% if not mirror.testing_hash %}
          <span class="capitalize px-1 bg-red-800 rounded-full shadow font-bold">t</span>
          {% endif %}
          {% if not mirror.unstable_hash %}
          <span class="capitalize px-1 bg-red-800 rounded-full shadow font-bold">u</span>
          {% endif %}
        </td>
        <td>
          {{ mirror.speed }} 
        </td>
      </tr>
      {% endif %}
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}