{% extends "base.html" %}

{% block content %}
<div class="overflow-x-auto self-start mt-8 bg-base-100 rounded-2xl w-full max-w-screen-lg mx-auto">
  <div class="text-xs py-2 px-4 font-semibold capitalize text-gray-800 flex gap-2">
    <p class="bg-info px-2 py-1 rounded">mirrors: {{ total }}</p>
    <p class="bg-info px-2 py-1 rounded">master: <a target="blank" href="rsync://{{ master }}" class="underline lowercase">rsync://{{ master }}</a></p>
  </div>
  <h1 class="w-full text-center py-4 text-xl font-semibold">Rsync Mirrors</h1>
  <p class="text-center mb-4">Mirrors you can sync from</p>
  <table class="table table-zebra w-full">
    <thead>
      <tr>
        <th>Mirror</th>
        <th>Country</th>
        <th>Speed</th>
        <th>Rsync</th>
      </tr>
    </thead>
    <tbody>
      {% for mirror in mirrors %}
      {% if mirror.active %}
      <tr>
        <td>{{ mirror.address }}</td>
        <td class="capitalize">{{ mirror.country }}</td>
        <td>
          {{ mirror.speed }}ms
        </td>
        <td>
          rsync://{{ mirror.address }}
        </td>
      </tr>
      {% endif %}
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}